.tp-testimonial-author .tp-testimonial-author-img {
    border-radius: 50%;
    border: 2px solid var(--tp-common-white);
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: top center;
}


.blog-hero-subscribe-input span svg {
    margin-left: 20px !important;
  }

.tp-postbox-wrapper .basic-pagination ul{
    padding-left: 0px;
}

.sv-details-testi .sv-details-testi-text{
    display: flex;
    position: relative;
  }
.sv-details-testi .sv-details-testi-quote {
    flex: 0 0 auto;
    position: absolute;
    left: -65px;
    top: 10px;
  }
  .tp-postbox-wrapper .post_format-post-format-gallery .postbox-thumb{
    margin-top: 0px;
  }
  .tp-postbox-wrapper .post_format-post-format-gallery .postbox-slider{
    margin-top: 35px;
  }